<h1>About</h1>


<p>In a rush and wanting a decent meal? Wondering what you can make with the ingredients you have in your fridge? <a href="/main_page">Tell us what you have</a>, and we'll return recipe suggestions based on your input.</p>

<p>If you would like to contribute one of your own recipes, please visit our <a href="/make_a_post">recipe page</a>.</p>

<p>Check out the code and make suggestions on <a href="https://github.com/medlyna/projectone">GitHub</a>.</p>
</div>