<h2><div>Are you sure you want to delete?</div></h2>

<h3><div>"<%= @recipe_to_delete.title %>"</div></h3>

<form action="/delete" method="post">
	<input name="_method" type="hidden" value="delete" />
	<input type="hidden" value="<%= @recipe_to_delete.id %>" name="recipe_to_delete_id">
	<input type="submit">
</form>
<a href="/recipesuggestions">Cancel</a>