<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="/css/styles.css">
  <title></title>
</head>

<body>
<%= yield %>
</body>

<footer> 
	<a href='/main_page'>Home</a>  |
	<a href='/make_a_post'>Make a Recipe</a> |
	<a href='/about'>About</a> |
  	<a href='/logout'>Logout</a> 
</footer>

</html>