Hello World

anything we want

<form action='/recipesuggestions' method="post">
	<legend>Main Ingredient</legend>
	<input type="text" name="main_ingredient">
	<legend>Time to Cook</legend>
	<input type="text" name="cook_time">
	<input type="submit">


</form>