
<h1> Recipe Matcher </h1>

<% @username = current_user.email.split ('@') %>
<h2>Welcome back, <%= @username.first.capitalize%>!</h2>

<p>Let's start cooking!</p>

<p>What ingredient are you starting with?</p>
<form action='/recipesuggestions' method="get">

<select name="main_ingredient" placeholder="select">
	<option value = "Chicken">Chicken</option>
	<option value = "Seafood">Seafood</option>
	<option value = "Beef">Beef</option>
	<option value = "Pasta">Pasta</option>
	<option value = "Pork">Pork</option>
	<option value = "Vegetarian">Vegetarian</option>
</select>
	
<p>How much time do you have to cook?</p>
	
<select name="time_to_cook" placeholder="time_to_cook">
	<option value = "20 minutes">20 Minutes</option>
	<option value = "30 minutes">30 Minutes</option>
	<option value = "40 minutes">40 Minutes</option>
</select>

<p>
<input type="submit">
</p>
</form>


