
<p>Enter Your Recipe</p>

<form action="/make_a_post" method="post">
<input type="text" placeholder="Enter Recipe Title" name="title">
<input type="text" placeholder="Enter Main Ingredient" name="main_ingredient">
<input type="text" placeholder="Enter Time to Cook" name="time_to_cook">
<TEXTAREA NAME="ingredients" ROWS=6 COLS=40 placeholder="Enter Ingredient List">
</TEXTAREA>


<TEXTAREA NAME="recipe" ROWS=6 COLS=40 placeholder="Enter Recipe">
</TEXTAREA>
<input type="submit">


