<table>
	<tr>
		<th>Title</th>
		<th>Ingredients</th>
		<th>Recipe</th>


	</tr>

		<tr>
			<td><%= @recipe.title %></td>
			<td><%= @recipe.ingredients %></td>
			<td><%= @recipe.recipe %></td>
		
		</tr>
</table>

 <a href='/delete/<%=@recipe.id%>'>Delete this Recipe</a> 